.top-row{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--top-row-height);
    display: flex;
    background: #333333;
}
.logo{
    height: 100%;
    display: block;
    box-sizing: border-box;
    padding: 8px;
    color: white;
}
.nav-btn{
    width: var(--top-row-width);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
.nav-btn > span {
    color: #fff;
    font-size: calc(var(--top-row-height) /2);
}
.nav{
    --nav-width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background: #333333;
    transform: translateX(calc(-1 * var(--nav-width)));
    transition: transform 0.25s;
}
.nav-open{
    transform: translateX(0);
}
.nav-link{
    display: block;
    font-family: sans-serif;
    font-size: 24px;
    padding: 24px;
    text-decoration: none;
    color: #fff;
}
.nav-link:not(:last-child){
    border-bottom: 1px solid #222222;
}
.nav-link:hover{
    background: rgba(255,255,255, 0.25);
}
.nav-overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0, 0.2)
}
.nav-overlay-open{
    display: block;
}