{% load static %}


<footer class="bg-light text-center sticky shadow-5 fixed-bottom">
    <!-- Copyright -->
    <div class="text-center p-3">
        <p>2022 Code Institute <i class="fa-solid fa-gifts"></i> December Hackathon</p>
        © 
        <a href="https://www.linkedin.com/in/marja-marinic-6968501a6/" class="text-dark">Marja M</a>
        <a href="https://www.linkedin.com/in/niclastanskanen/" class="text-dark">Niclas Tanskanen</a>
        <a href="https://www.linkedin.com/in/philip-jambrisak/" class="text-dark">Philip Jambrisak </a>
        <a href="https://www.linkedin.com/" class="text-dark">Eoghan Behan</a>
        <a href="https://www.linkedin.com/" class="text-dark">Tom F</a>
        <a href="https://www.linkedin.com/" class="text-dark">Terry Martin</a>
    </div>
    <!-- Copyright -->
</footer>