{% extends 'photos/base.html' %}
{% load static %}
{% block content %}

<section class="vh-100">
    <div class="container pt-5">

            <h1>Wish to have the perfect holiday collage with friends and family?</h1>
            <h2>Fear not, Santa is here for you!</h2>
            <a href="{% url 'add' %}">Get started</a>
            <p>
              And on Christmas Eve,<br>
              little presents will await<br>
              under the Email Tree
            </p>

    </div>
</section>

{% endblock content %}