<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../static/css/navbar.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="top-row">
        <button type="button" class="nav-btn">
            <span class="material-icons">
                menu
            </span>
        </button>
        <img class="logo" src="#" alt="christmas blend logo">
    </div>
    <div class="nav-overlay"></div>
    <nav class="nav">
        <a href="#" class="nav-link">Home</a>
        <a href="#" class="nav-link">Account</a>
        <a href="#" class="nav-link">About Us</a>
        <a href="#" class="nav-link">Extra</a>
        <a href="#" class="nav-link">Extra</a>
    </nav>

    <script src="../../../static/js/navbar.js">
    </script>
</body>
</html>