{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">

<div class="top-row">
    <button type="button" class="nav-btn">
        <span class="material-icons">
            Home
        </span>
    </button>
    <img class="logo" src="#" alt="christmas blend logo">
</div>
<div class="nav-overlay"></div>
<nav class="nav">
    <a href="#" class="nav-link">Home</a>
    <a href="#" class="nav-link">Account</a>
    <a href="#" class="nav-link">About Us</a>
    <a href="#" class="nav-link">Extra</a>
    <a href="#" class="nav-link">Extra</a>
</nav>

<link rel="stylesheet" href="{% static 'js/navbar.js' %}">